$--blue: #20418F;
$--white: #fff;
$--redBtn: #D70E1D;
$--black: #000;

@mixin title-wrap{
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: .1fr 1fr 1fr;
    margin-bottom: 40px;
    gap: 20px;
    align-items: center;
    h2{
        max-width: 100%;
        width: 100%;
    }
    .count{
        display: inline-flex;
        padding: 10px 30px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        background: $--blue;
        color: $--white;
        font-weight: 700;
        max-width: 78px;
        max-height: 38px;
       
    }
    @media screen and (max-width:1023px) {
        
        grid-template-columns: .1fr 1fr;
    }
    p{
        max-width: 357px;
        font-size: 12px;
        margin-left: auto;

        @media screen and (max-width:1023px) {
            max-width: 100%;
            grid-column:  1 / 3;
        }
    }
}
@mixin blueBg{
    color: $--white;
    background-color: $--blue;
    
}
@mixin btnHover{
    &:hover{
        color: $--redBtn;
        border-color: $--redBtn;
    }
        
}
@mixin accordTitle{
                    margin-right: auto;
                    font-style: normal;
                font-weight: 400;
                line-height: normal;
                font-size: 32px;
                @media screen and (max-width:767px) {
                  font-size: 24px;
                }
                @media screen and (max-width:480px) {
                  font-size: 16px;
                }
}
html{
    scroll-behavior: smooth;
  }

body{
    font-size: 14px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main{
    margin-top: 80px;
}
  .container{
      max-width: 1320px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;
  }
h1{
    color: $--white;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    max-width: 652px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.3;
    @media screen and (max-width:767px) {
        font-size: 32px;
    }
}
h2{
    color: $--black;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    @media screen and (max-width:767px) {
        font-size: 28px;
    }
}
h3{
    font-size: 32px;
    font-weight: 700;
    @media screen and (max-width:767px) {
        font-size: 24px;
    }
}

h1 span,
h2 span,
h3 span{
    font: inherit;
}
p{
    font-size: 14px;
    font-weight: 400;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13.5px 58.5px;
    max-width: 220px;
    width: 100%;
    color:$--white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: $--redBtn;
    max-width: 220px;
    border: 1px solid transparent;
    transition: .3s ease;
    @media screen and (max-width:367px) {
        padding: 13.5px 18.5px;
    }
}
.btn:hover{
    background-color: transparent;
    border-color: $--white;
    color: $--white;
}

.logo{
    margin-right: auto;
    
}
.breadcrumbs{
    padding: 7px 0;
    background-color: $--redBtn;
    width: 100%;
    min-height: 10px;
    color: $--white;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.mt-s{
    margin-top: 80px;
    @media screen and (max-width:767px) {
        margin-top: 40px;
    }
    @media screen and (max-width:367px) {
        margin-top: 20px;
    }
}
.mt-m{
    margin-top: 140px;

    @media screen and (max-width:767px) {
        margin-top: 70px;
    }
    @media screen and (max-width:367px) {
        margin-top: 35px;
    }
}
.mb-m{
    margin-bottom: 140px;
    @media screen and (max-width:767px) {
        margin-bottom: 70px;
    }
    @media screen and (max-width:367px) {
        margin-bottom: 35px;
    }
}
.count-block{
    display: inline-flex;
    padding: 8.5px 28.5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #000;
    font-weight: 700;
    max-width: fit-content;

    @media screen and (max-width:767px) {
      max-width: 100%;
    }
    @media screen and (max-width:480px) {
      padding: 8.5px 18.5px;
    }
    
}
.social{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}